<h1>Result</h1>
<%if @match%>
  <%if @reader["found"]%>
    <p><%="<b>Congratulations!</b> #{@answer} is a valid English word!".html_safe%></p>
  <%else%>
    <p><%="Sorry, but <b>#{@answer}</b> does not seem to be a valid English word...".html_safe%></p>
  <%end%>
<%else%>
    <p><%="Sorry but <b>#{@answer}</b> can't be built out of #{@letters}".html_safe%></p>
<%end%>
<%=link_to "Play again", new_path%>
