// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  border: solid 1px rgb(40, 40, 40);
  background-color: rgb(52, 152, 220);
  box-shadow: 2px 2px 2px #888888;
}

#letter {
    display: block;
    margin-top: 10px;
    color: white;
    font-weight: bolder;
    font-size: 24px;
}
